body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: lightgoldenrodyellow;
    color: midnightblue;
}

/* 
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
} */

#container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#answer {
    border: 1px solid black;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}